%h2 Edit profile

- semantic_form_for @user do |form|
  = form.error_messages
  - form.inputs do
    = form.input :nickname
    = form.input :description, :as => :text
  - form.buttons do
    = form.submit "Update"
    or
    = link_to "Cancel", user_path(@user)

