- content_for :title do
  nanolooploop

%ul.rounded
  -if logged_in?
    %li.arrow= link_to "your loops", loops_path
    %li.arrow= link_to "log out", session_path, :method => :delete
  - else
    %li.arrow= link_to "log in", sign_in_path
    %li.arrow= link_to "sign up", sign_up_path
  %li.arrow= link_to "Latest loops", latest_loops_path
  %li.arrow= link_to "Top loops", top_loops_path
  %li.arrow= link_to "Artists", users_path
