%h2 News (last updated: [06.05.2010])
%p
  Welcome to the rough alpha release of Nanolooploop. We'll see where it goes, but let me assure you:
  I have some pretty cool ideas coming up for this place.
%p
  I will open a support thread on the nanoloop forum eventually.



.latest-loops
  %h2 Latest shared loops
  %ul.loops
    = render :partial => 'loops/loop', :collection => @latest_public, :as => :loopie

.bestest-loops
  %h2 Top loops
  %ul.loops
    = render :partial => 'loops/loop', :collection => @bestest_public, :as => :loopie

- content_for :sidebar do
  - if logged_in?
    %h2 Loopimport
    %p
      To import your loops, send them to the following email adresses.
    %ul
      %li
        %b Private:
        = mail_to maildrop(current_user, true)
      %li
        %b Public:
        = mail_to maildrop(current_user, false)
    %h2 Your own latest loops
    %ul.loops
      = render :partial => 'loops/loop', :collection => current_user.loops.all(:order => 'created_at', :limit => 10), :as => :loopie
      %li= link_to "All your loops", loops_path
  - else
    %h2 Hurry up and get in!
    %p
      If you are registered as a user on nanolooploop, you can send your loops from nanoloop on the iPhone to
      archive them and to share them.
    %p
      Registration itself is a breeze, because you can simply log in with your Facebook, Google or OpenID account. No need to
      type in all your data again for this place.
    %p
      Do you need more ideas why storing your loops in here is a good idea? How about playing nanoloop-pingpong with someone else?
      Using Nanolooploop, exchanging nanoloop files is a breeze. you can use the iPhone optimized version of this page to load
      someone else's loops into nanoloop on the iPhone.
