- content_for :toolbar do
  %h1 Edit '#{h @loop.name}'
  = link_to "Cancel", @loop, :class => 'back'

- form_for(@loop) do |f|
  .info
    = f.error_messages
  %ul.rounded
    %li
      Public loop
      %span.toggle
        = f.check_box :public

  = link_to "Save", nil, :class => 'whiteButton submit'
