<h2>
  <%=h @loop.name %>
  by <%= h @loop.user.email %>
</h2>
<p>
  <b>nanoloop://</b>
  <%=link_to "data", @loop.data.to_s %>
</p>
<p>
  <b>Download:</b>
  <%=link_to "file", loop_download_path(@loop, File.basename(@loop.name, ".nan"),  :format => 'nan') %>
</p>

<%= link_to 'Edit', edit_loop_path(@loop) if @loop.user == current_user %>
