!!!
%html
  %head
    %meta{ :charset => "UTF-8" }
    %title
      nanolooploop
    = stylesheet_link_tag 'jqtouch/jqtouch.min'
    = stylesheet_link_tag 'themes/apple/theme.min'
    = javascript_include_tag 'jqtouch/jquery.1.3.2.min'
    = javascript_include_tag 'jqtouch/jqtouch.min'

    %meta(name = "viewport" content = "width = device-width, initial-scale=1, user-scalable = no")


  %body
    .current
      .toolbar
        = yield :toolbar
      - unless flash.empty?
        .info
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_\#{name}"
      = yield
    #-
      :javascript
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      :javascript
        try {
        var pageTracker = _gat._getTracker("UA-16277388-1");
        pageTracker._trackPageview();
        } catch(err) {}